apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: bolometer-role
rules:
- apiGroups:
  - bolometer.io
  resources:
  - profilingconfigs
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - bolometer.io
  resources:
  - profilingconfigs/status
  verbs:
  - get
  - update
  - patch
- apiGroups:
  - bolometer.io
  resources:
  - profilingconfigs/finalizers
  verbs:
  - update
- apiGroups:
  - ""
  resources:
  - pods
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - ""
  resources:
  - pods/portforward
  verbs:
  - create
  - get
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - metrics.k8s.io
  resources:
  - pods
  verbs:
  - get
  - list

